{{#if (and this.fetching this.articleContent)}}
	<ArticleLoader class="loader-example" />
{{else if (and this.fetching this.tableContent)}}
	<TableLoader class="loader-example" />
{{else if (and this.fetching this.listContent)}}
	<BulletListLoader class="loader-example" />	
{{else}}
	<p>DONE FETCHING</p>
{{/if}}

<div class="actions">
	<section class="timeout-action">
		<span class="timeout-action-label">Fetch Delay: <strong class="timeout-duration-display">{{this.timeoutDur}}ms</strong></span>
		<input 
			type="range" 
			class="timeout-control" 
			value={{this.timeoutDur}} 
			oninput={{action "updateTimeoutDur"}} 
			name="timeout-control" 
			min="0" 
			max="10000"
			step="100" />
	</section>
	
	<section class="content-type-action">
		<span>Content Type: </span>
		
		<button 
			onclick={{action "activateArticleContent"}}
			class="article-type-control content-type-control {{if this.articleContent "active" "inactive"}}"> 
			Article
		</button>
		
		<button 
			onclick={{action "activateListContent"}}
			class="bullet-list-type-control content-type-control {{if this.listContent "active" "inactive"}}">
			Bullet List
		</button>
		
		<button 
			onclick={{action "activateTableContent"}}
			class="table-type-control content-type-control {{if this.tableContent "active" "inactive"}}">
			Table
		</button>
	</section>

</div>

