{{#if (and this.fetching this.articleContent)}}
	<ArticleLoader class="loader-example" />
{{else if (and this.fetching this.tableContent)}}
	<TableLoader class="loader-example" />
{{else if (and this.fetching this.listContent)}}
	<BulletListLoader class="loader-example" />	
{{else}}
	<p>NOT FETCHING !</p>
{{/if}}

<input type="number" size="10" value={{this.timeoutDur}} oninput={{action "updateTimeoutDur"}} /><span> ms</span>