<header>
	<h1>Skeleton Loading Exercise</h1>
</header>

<div class="button-area">
	<button class="load-page" onclick={{action "kickoffDataFetch"}}>Simulate Page Load</button>
</div>

<div class="main-layout">
	<main>
		<ContentFetcher @goFetchData={{this.goFetchData}} />

		<ContentFetcher @goFetchData={{this.goFetchData}} />

		<ContentFetcher @goFetchData={{this.goFetchData}} />

		<ContentFetcher @goFetchData={{this.goFetchData}} />

		<ContentFetcher @goFetchData={{this.goFetchData}} />
	</main>

	<aside>
		<ContentFetcher @goFetchData={{this.goFetchData}} />

		<ContentFetcher @goFetchData={{this.goFetchData}} />

		<ContentFetcher @goFetchData={{this.goFetchData}} />

		<ContentFetcher @goFetchData={{this.goFetchData}} />

		<ContentFetcher @goFetchData={{this.goFetchData}} />

		<ContentFetcher @goFetchData={{this.goFetchData}} />

	</aside>
</div>
